@import './default.less';
@import './loading.less';
ul,li {
  list-style: none;
}
.clearfix {
  &::after {
    content: ' ';
    clear: both;
    display: block;
    visibility: hidden;
  }
}
.container {
  .nav-left {
    text-align: left;
    height: calc(100vh);
    color: #fff;
    background: #001529;
  }
  .main {
    background: @colorL;
    height: calc(100vh);
    overflow: auto;
  }
  .content {
    text-align: left;
    position: relative;
    padding: 20px;
    // background: #fff;
  }
}

.content-wrap {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-top: -3px;

  .ant-table-wrapper {
    margin-left: -1px;
    margin-right: -2px;
  }
}

.operate-wrap {
  button {
    margin-right: 10px;
  }
}